

<div ng-show="user" >

    <div class="form-group-my" ng-show="visible" compile="html"></div>

    </div>

<div ng-show="sign" >

    <div class="form-group-my" ng-show="visible_sign" compile="html_sign"></div>

</div>

<div ng-hide="user||sign">
  <div style="margin-top:10px">
    <div class="container">
      <div><img src="public/images/dareway.png" class="img-responsive"></div>
    </div>
  </div>
    <footer>
        <div style="display:block;height:40px;center"></div>
        Copyright © 2015 山大地纬软件股份有限公司 版权所有
    </footer>
</div>
<script type="text/javascript">

             function test() {
            window.location.reload();

             };

</script>